.button {
  display: table;
  padding: 1em 2em;
  background: #eb6347;
  color: #fff;
  margin: 1em auto;
  cursor: pointer;
  font-family: sans-serif; }

.ball {
  font-family: sans-serif;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 10px;
  margin: 1em 0;
  transform: translateX(0) rotate(0);
  transition: transform 2s; }
  .animate .ball {
    transform: translateX(calc(100vw - 100%)) rotate(2turn); }
  .ball.ease {
    transition-timing-function: ease; }
  .ball.ease-in {
    transition-timing-function: ease-in; }
  .ball.ease-out {
    transition-timing-function: ease-out; }
  .ball.ease-in-out {
    transition-timing-function: ease-in-out; }
  .ball.linear {
    transition-timing-function: linear; }
