body {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }

.heart {
  --size:200px;
  background: #f20d0d;
  width: var(--size);
  height: var(--size);
  position: relative;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  transform: rotate(-45deg);
  animation: beat .8s infinite ease-in alternate;
  transform: rotate(-45deg);
  animation-play-state: paused; }
  .heart::before, .heart::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 50%;
    top: -50%; }
  .heart::after {
    top: 0;
    right: -50%; }
  .heart:hover {
    animation-play-state: running; }

@keyframes beat {
  to {
    transform: rotate(-45deg) scale(1.2);
    background: red; } }

body {
  background: red;
  animation-name: color;
  animation-duration: 1s;
  animation-play-state: running;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear; }

@keyframes color {
  100% {
    background: cyan; } }
