html {
  box-sizing: border-box;
  font-family: sans-serif; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  display: flex;
  min-height: 100vh;
  background: #222; }

.reloj {
  margin: auto;
  width: 500px;
  height: 500px;
  background: #fff;
  border-radius: 50%;
  position: relative; }

.hour {
  position: absolute;
  width: 2em;
  height: 2em;
  left: calc(50% - 1em);
  top: 1em;
  transform-origin: center calc(250px - 1em); }

.hour:nth-child(1) {
  transform: rotate(30deg); }
  .hour:nth-child(1) span {
    display: block;
    transform: rotate(-30deg);
    width: 1em;
    height: 1em; }

.hour:nth-child(2) {
  transform: rotate(60deg); }
  .hour:nth-child(2) span {
    display: block;
    transform: rotate(-60deg);
    width: 1em;
    height: 1em; }

.hour:nth-child(3) {
  transform: rotate(90deg); }
  .hour:nth-child(3) span {
    display: block;
    transform: rotate(-90deg);
    width: 1em;
    height: 1em; }

.hour:nth-child(4) {
  transform: rotate(120deg); }
  .hour:nth-child(4) span {
    display: block;
    transform: rotate(-120deg);
    width: 1em;
    height: 1em; }

.hour:nth-child(5) {
  transform: rotate(150deg); }
  .hour:nth-child(5) span {
    display: block;
    transform: rotate(-150deg);
    width: 1em;
    height: 1em; }

.hour:nth-child(6) {
  transform: rotate(180deg); }
  .hour:nth-child(6) span {
    display: block;
    transform: rotate(-180deg);
    width: 1em;
    height: 1em; }

.hour:nth-child(7) {
  transform: rotate(210deg); }
  .hour:nth-child(7) span {
    display: block;
    transform: rotate(-210deg);
    width: 1em;
    height: 1em; }

.hour:nth-child(8) {
  transform: rotate(240deg); }
  .hour:nth-child(8) span {
    display: block;
    transform: rotate(-240deg);
    width: 1em;
    height: 1em; }

.hour:nth-child(9) {
  transform: rotate(270deg); }
  .hour:nth-child(9) span {
    display: block;
    transform: rotate(-270deg);
    width: 1em;
    height: 1em; }

.hour:nth-child(10) {
  transform: rotate(300deg); }
  .hour:nth-child(10) span {
    display: block;
    transform: rotate(-300deg);
    width: 1em;
    height: 1em; }

.hour:nth-child(11) {
  transform: rotate(330deg); }
  .hour:nth-child(11) span {
    display: block;
    transform: rotate(-330deg);
    width: 1em;
    height: 1em; }

.hour:nth-child(12) {
  transform: rotate(360deg); }
  .hour:nth-child(12) span {
    display: block;
    transform: rotate(-360deg);
    width: 1em;
    height: 1em; }
