body {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  flex-direction: column;
  justify-content: center; }

p {
  margin: 1em auto; }
  p + p {
    margin: 0 auto; }

#button {
  background: #f2800d;
  margin: 0 auto;
  color: #fff;
  padding: .5em 1.5em;
  cursor: pointer; }
  #button.animate {
    animation: grow 1s 2 alternate; }

@keyframes grow {
  to {
    background: #80f20d; } }
